apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dating-app-prod

resources:
  - ../../base

namePrefix: prod-

replicas:
  - name: gateway
    count: 3
  - name: member
    count: 3

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 250m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
    target:
      kind: Deployment
